*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fl{
    text-align: center;
}
#flower{
    animation: flower 3s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes flower {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
